<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= htmlWebpackPlugin.options.title %> | Money Tracker App</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-light bg-primary">
        <div class="container">
          <span class="navbar-brand mb-0 h1"><%= brandName %></span>

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent"><%= navLinks %></div>
        </div>
      </nav>
    </header>

    <main>
      <div class="main-content">
        <div class="container">
          <h1 class="text-center py-3">Share Your Story</h1>
          <form id="storyForm" class="needs-validation" novalidate>
            <div class="mb-3">
              <label for="validationCustomStory" class="form-label">Story</label>
              <textarea-with-validation
                inputId="validationCustomStory"
                validFeedbackMessage="Cool!"
                invalidFeedbackMessage="Tell us your story"
                required
              ></textarea-with-validation>
            </div>
            <div class="mb-3">
              <label for="validationCustomPhoto" class="form-label">Photo</label>
              <input-image-with-validation
                imageId="validationCustomPhoto"
                validFeedbackMessage="Cool!"
                invalidFeedbackMessage="Share us your photo of story"
                required
              ></input-image-with-validation>
            </div>
            <div class="text-end">
              <button class="btn btn-primary" type="submit">Share</button>
            </div>
          </form>
        </div>
      </div>
    </main>

    <modal-alert></modal-alert>

    <footer>
      <div class="main-footer bg-dark">
        <div class="container px-3 py-4"><%= footerContent %></div>
      </div>
    </footer>
  </body>
</html>
